/*****************
Alexandru Brie @ Cognitive Bits Software
(twitter)/@alexbrie
www.cognitivebits.com

- a UserCSS stylesheet for a more ergonomic and space-saving version of the new Google Reader interface. Tested only Safari, so far.
- based on an idea by Alex Popescu (twitter)/@al3xandru

Install: 
1. Install UserCSS extension from http://code.grid.in.th/ 
2. right click on any web page, chose ManageUserCSS
3. paste the following CSS in the Styles field
4. paste http://*.google.com/reader* in the URLs field
5. enter GoogleReader in the name field (or whatever else you chose)

*****************/
#top-bar {
max-height:30px !important;
overflow:hidden !important;
border:none !important;
}
#search {
padding: 0 !important;
margin-left: 220px !important;
}
#nav {
float: left;
width: 210px !important;
}
#viewer-header {
max-height:50px !important;
}
#lhn-add-subscription-section {
max-height:50px !important;
width: 210px !important;
border:none !important;
}
.entry .entry-body, .entry .entry-title, .entry .entry-likers {
max-width: 950px !important;
}

#chrome {
margin-left: 220px !important;
border-left:1px solid #ddd;
}

/**********************
Fragments from  Google Reader Demarginfier
http://userscripts.org/scripts/show/116850
**********************/
.entry-source-title { top:2px !important } 
.entry-main .entry-original { top:4px !important } 
.section-minimize { left: 0px !important } 
#overview-selector, #lhn-selectors .selector, .folder .name.name-d-0, #sub-tree-header 
{ padding-left: 15px !important; } 
.folder .folder .folder-toggle { margin-left:13px !important } 
.folder .sub-icon, .folder .folder>a>.icon { margin-left:27px !important } 
.folder .folder>ul .icon { margin-left:34px !important } 
.folder .folder .name-text { max-width:160px; !important } 
#reading-list-selector .label { display:inline !important }